*{
    font-family: 'Work Sans', sans-serif;;
}

body{
    margin: 0;
}

.main-login{
    width: 100vw; /* vw = % da largura da viewport (ex: 100vw -> 1000px) */
    height: 100vh; /* vh = % da altura da viewport (ex: 1vh -> 10px)*/
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* deixa os titulos em coluna (um embaixo do outro) */
}

.left-login > h1 {
    color: #fff;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%; /* % pegar o tamanho da div que esta */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius:20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
    font-style: bold;
}

.textfield{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border:none;
    border-radius:10px;
    padding:15px;
    background: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #fff;
    margin-bottom:  10px;
}